

html { 
  background: url('../images/wallpaper1.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


h1 {
	color: #e5e0c3;
	font-family: 'Caudex', serif;
	font-size: 2.5rem;
	text-align: center;
	letter-spacing: 4px;
	margin-top: 0;
	margin-bottom: 20px;
}

#portrait {
	height: 650px;
	margin-left: 275px;
	margin-top: -300px;

}

#displayCount {
	font-size: 30px; 
	padding: 5px;
	color: #800020;
	font-family: 'Fandwood Text';
	border: 2px solid #800020;

}

#continue, #nextBtn, #playAgain {
	background-color: #000000;
	color: #ffcc00;
	width: 100px;
	height: 30px;
	border-radius: 10px;
	text-align: center;
	font-family: 'Caudex', serif;
	text-transform: uppercase;
	margin-bottom: 20px;
	border: 2px solid black;
	margin: 0 auto;

}

.quiz-intro {
	background-color: #457b87; 
	color: #000000;
	width: 40%;
	padding: 40px;
	margin: 0 auto;
	border: 2px solid black;
	padding: 40px
	margin-top: 200px;
	font-family: 'Caudex', serif;
	font-size: 17px;
	text-align: center;
}

.result {

	background-color: #ffcc00; 
	color: #000000;
	width: 40%;
	margin: 0 auto;
	border: 2px solid #800000;
	padding: 40px;
	display: none;
	margin-top: 200px;
	font-family: 'Caudex', serif;
	text-align: center;
}

.question-box {
	background-image: url('../images/parchment.png');
	background-size: 400px 425px;
	padding: 5px;
	position: relative;
	margin-left: 550px;
	border-radius: 1px;
	text-align: center;
	width: 400px;
	height: 370px;

}




h5 {
	margin-top: 30px;
	margin-left: 5px;
	font-family: 'Cinzel Decorative', cursive;
	overflow: none;
	color: #660000;
	font-size: 19px;
	white-space: none;
	max-width: 355px;
	text-align: center;
}
ul li {
	font-family: 'Caudex', serif;
	color: #091515;
	font-size: 18px;
	text-transform: lowercase;
	list-style: none;
	text-align: left;
	padding: 5px;
}



div {max-width: 100%}



/*//responsiveness*/

/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

img { max-width: 100%; }

html { font-size:100%; } 

@media (min-width: 640px) { body {font-size:.75rem;} } 
@media (min-width:960px) { body {font-size:1.2rem;} } 
@media (min-width:1100px) { body {font-size:1.5rem;} } 
